@charset "UTF-8";
@font-face {
    font-family: 'Gyst';
    src: url(fonts/gyst-regular.otf);
}

*, body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    background-color:wheat;
    width: 100%;
}

header {
    display: flex; 
    justify-content: space-around;
    background-color: white;
}

header > h1 {
    margin: auto;
    padding: 0px;
}

header > h1 > a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: rgb(40, 90, 154);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Gyst', sans-serif;
}

header > nav {
    width: 40%;
    margin: auto;
    
}

nav {
    display: flex;
}

nav > a {
    text-decoration: none;
    color: rgb(40, 90, 154);
    padding: 10px;
    margin: auto;
    align-items: space-between;
}

header > nav > a:hover {
    font-weight: bold;
    transition: 0.5s;
}

header > button { 
    background-color:rgb(40, 90, 154);
    margin: auto;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 25px;
    
}

header > button > a {
    text-decoration: none;
    color: white;
}

header > button:hover {
    background-color: white;
    border: 2px solid rgb(40, 90, 154);
    transition: 0.1s;
}

header > button:hover > a {
    color:rgb(40, 90, 154);
    font-weight: bold;
    transition: 0.2s;
}

main {
    margin: auto;
    background-color: white;
}


#inicio {
    width: auto;
    height: auto;
    background-color: rgb(40, 90, 154);

    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: auto;


    margin: 0px 50px 0px 50px;

    border-radius: 30px;
}

#inicio aside {
    width: 40%;
    height: auto;
    padding: 2%;
    margin: auto;
}

#texto-inicio {
    padding-top: 35px;
}

#texto-inicio h2 span {
    color: yellow;
    font-family: 'gyst', sans-serif;
    font-size: 1.3rem;
}

#inicio > aside > img {
    width: 110%;
    height: auto;
    
    display: block;
}

#inicio > aside > h2, #inicio > aside > p {
    text-align: left;
    color: white;
    font-size: 1.3rem;


    padding: 20px;
    width: 100%;
}

#inicio > aside > button {
    background-color: white;
    margin: 15px;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 25px;border: 2px solid  white;
;
}
#inicio > aside a {
    text-decoration: none;
    font-weight: 600;
    color:  rgb(40, 90, 154);
}

#inicio > aside > button:hover {
    background-color: rgb(40, 90, 154);
    border: 2px solid white;
    transition: 0.1s;
}

#inicio > aside > button:hover > a {
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

#clientes {
    background-color: white;
    padding: 20px;

}

#clientes > h3 {
    padding-top: 25px;
    text-align: center;
    font-size: 0.9rem;
    color: black
}

#clientes aside {
    display: flex;
    justify-content: space-between;
    padding:10px;
    margin: auto;
}

#clientes aside > p > img {
    display: block;
    width: 45%;
    height: auto;
    margin: auto;

    padding-top: 20px;

}

#sobre {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: white;
    padding: 30px;
    margin: auto;
    
}

#sobre > #sobre-texto {
    text-align: left;
    width: 70%;
    margin: auto;
    padding: 15px;
}

#sobre-texto > h2 {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 0.9rem;
}

#sobre-texto > p {
    font-size: 0.8rem;
    padding-bottom: 20px;
    line-height: 1.2rem;
}

#card-sobre-container {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    padding-top: 3%;
    margin: 10px;
}

#sobre .card-sobre {
    width: 25%;
    height: 175px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

#sobre .card-sobre > img {
    display: block;
    width: 30%;
    height: auto;
    margin: auto;
    padding-top: 20px;
}

#sobre .card-sobre > p {
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}
#recursos {
    background-color: #285a9a;
    padding: 20px;
    height: 250px;
}

#recursos > hr {
    width: 20%;
    margin: auto;
}

#recursos > h2 {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 5px;
     


}

 #recursos > p {
    text-align: center;
    color: white;
    padding: 10px;
 }

 #planos {
    background-color: white;
    padding: 20px;
    height: 550px;
 }

 #planos > hr {
    width: 20%;
    margin: auto;
 }

 #planos > h2 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
     /* Fazer o fundo desfocado */
 }

 #planos > p {
    text-align: center;
    padding: 10px;
 }

 #card-plano-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 15px;
    
 }

 .card-plano {
    background-color: lightcyan;
    padding: 20px;
    width: 25%;
    border-radius: 15px;
    background-color: #285A9A;

 }

 .card-plano > h3 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: white;
 }

 .card-plano > p {
    text-align: center;
    padding: 10px;
    color: white;

 }
 .card-plano > ul > li {
    list-style: none;
    padding: 5px;
    font-size: 0.6rem;
    text-align: center;
    color:white

 }

 .card-plano .plano-sem-acesso {
    text-decoration: line-through;
    color: gray;
 }
 .card-plano > button {
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    display: block;
    width: 100px;
    border: none;
    border-radius: 5px;
 }
        
footer {
    background-color: rgb(10, 23, 41);
    padding: 35px;
    height: 250px;
    color: white;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.div-footer {
    width: 25%;
}

.div-footer > h2 {
    font-weight: bold;
    padding-bottom: 20px;
}

#redes-sociais > li {
    display: inline;
    margin-right: 5px;
    list-style: none;
    text-decoration: none;
    

}

#redes-sociais > li > a > img {
background-color: rgb(38, 54, 76);    
border-radius: 50%;
}

.div-footer > address, .div-footer > p {
    padding-bottom: 20px;
    list-style: none;
    font-size: 0.8rem;
    text-align: justify;
}

.div-footer > form > input {
    padding: 10px;
    width: 60%;
    height: 08px;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: rgb(60, 70, 82);
    color: white;   
}

.div-footer > form > button {
    padding: 6px;
    margin: 8px;
    
    border: none;
    border-radius: 5px;
    background-color: rgb(69, 80, 94);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

footer > hr {
    width: 100%;
    margin: auto;
}

footer > p {
    text-align: right;
    font-size: 0.8rem;
    padding-top: 10px;
}

        
        